<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="column half">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="column half">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
</div>
<div class="row">
  <div class="column half">
    <%= f.label :mileage %>
    <%= f.text_field :mileage %>
  </div>
  <div class="column half">
    <%= f.label :make %>
    <%= f.text_field :make %>
  </div>
</div>
<div class="row">
  <div class="column half">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>
  <div class="column half">
    <%= f.label :body_style %>
    <%= f.text_field :body_style %>
  </div>
</div>
<div class="row">
  <div class="column half">
    <%= f.label :engine %>
    <%= f.text_field :engine %>
  </div>
  <div class="column half">
    <%= f.label :transmission %>
    <%= f.text_field :transmission %>
  </div>
</div>
<div class="row">
  <div class="column half">
    <%= f.label :exterior_color %>
    <%= f.text_field :exterior_color %>
  </div>
  <div class="column half">
    <%= f.label :interior_color %>
    <%= f.text_field :interior_color %>
  </div>
</div>
<div class="row">
  <div class="column half">
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <%= file_field_tag 'picture' %>
<% end %>

