<div class="car_list">
  <% @cars.each do |car| %>
  <div class="row">
    <div class="car-photo column third" >
      <img src=<%= image_url('cars/car.jpg') %> >
    </div>
    <table class="car_list_details column two-thirds">
      <h4><%= link_to (car.make + " " + car.model + " " + car.year.to_s), car %></h4>
      <tr>
        <th>Price:</th>
        <td>$<%= number_with_delimiter(car.price, :delimiter => ',') %></td>
        <th>Mileage:</th>
        <td><%= car.mileage %></td>
      </tr>
      <tr>
        <th>Type:</th>
        <td><%= car.body_style %></td>
        <th>Engine:</th>
        <td><%= car.engine %></td>
      </tr>
      <tr>
        <th>Transmission:</th>
        <td><%= car.transmission %></td>
        <th>Exterior color:</th>
        <td><%= car.exterior_color %></td>
      </tr>
      <tr>
        <th>Interior color:</th>
        <td><%= car.interior_color %></td>
      </tr>
    </table>
    <% if user_id %>
      <%= link_to 'Detail', car %> |
      <%= link_to 'Update', edit_car_path(car) %> |
      <%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <% end %>
</div>
