<!DOCTYPE html>
<html>
<head>
  <title>Sunny's Auto Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header-wrapper">
	<header id="header" class="container">
		<h1><a href="/" id="logo">Sunny's Auto Shop</a></h1>
		<!-- Nav -->
		<nav id="nav">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/services">Services</a>
			<a href="/cars">Auto Sale</a>
			<a href="/contact">Contact</a>
		</nav>
	</header>
</div>

<!-- Content -->
<div class="content-wrapper">
	<div class="content column two-thirds">
				<%= yield %>
	</div>
	<div class="sidebar-wrapper column third">
		<section class="sidebar"><%= render "/shop/contact" %></section>
	</div>
</div>

<!-- Footer -->
<div id="footer-wrapper">
	<footer id="footer" class="container">
		<div class="row">
		<!-- Copyright -->
		<div id="copyright">
			&copy; Sonny's Shop. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
		</div>
	</footer>
</div>
</body>
</html>
